pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #F5F5F5;
    background: #222;
}

.hljs ::selection,.hljs::selection {
    background-color: #323639;
    color: #80868b
}

.hljs-comment {
    color: #888888
}

.hljs-tag {
    color: #676c71
}

.hljs-operator,.hljs-punctuation,.hljs-subst {
    color: #427D59
}

.hljs-operator {
    opacity: .7
}

.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable {
    color: #FF79FF
}

.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_ {
    color: #FF7D80
}

.hljs-class .hljs-title,.hljs-title,.hljs-title.class_ {
    color: #00501F
}

.hljs-strong {
    font-weight: 700;
    color: #F5F5F5
}

.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__ {
    color: #00EF83
}

.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp {
    color: #B84AFF
}

.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property {
    color: #00E8E8
}

.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type {
    color: #FFD400
}

.hljs-emphasis {
    color: #F5F5F5;
    font-style: italic
}

.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string {
    color: #0000ff
}

.hljs-meta .hljs-keyword,.hljs-meta-keyword {
    font-weight: 700
}
