/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+c+cpp+css-extras+dart+diff+go+go-module+json+mongodb+python+rust+typescript&plugins=line-highlight+line-numbers+inline-color+command-line+toolbar+copy-to-clipboard */
code[class*=language-],pre[class*=language-]{color:#000;background:0 0;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
pre[data-line]{position:relative;padding:1em 0 1em 3em}.line-highlight{position:absolute;left:0;right:0;padding:inherit 0;margin-top:1em;background:hsla(24,20%,50%,.08);background:linear-gradient(to right,hsla(24,20%,50%,.1) 70%,hsla(24,20%,50%,0));pointer-events:none;line-height:inherit;white-space:pre}@media print{.line-highlight{-webkit-print-color-adjust:exact;color-adjust:exact}}.line-highlight:before,.line-highlight[data-end]:after{content:attr(data-start);position:absolute;top:.4em;left:.6em;min-width:1em;padding:0 .5em;background-color:hsla(24,20%,50%,.4);color:#f4f1ef;font:bold 65%/1.5 sans-serif;text-align:center;vertical-align:.3em;border-radius:999px;text-shadow:none;box-shadow:0 1px #fff}.line-highlight[data-end]:after{content:attr(data-end);top:auto;bottom:.4em}.line-numbers .line-highlight:after,.line-numbers .line-highlight:before{content:none}pre[id].linkable-line-numbers span.line-numbers-rows{pointer-events:all}pre[id].linkable-line-numbers span.line-numbers-rows>span:before{cursor:pointer}pre[id].linkable-line-numbers span.line-numbers-rows>span:hover:before{background-color:rgba(128,128,128,.2)}
pre[class*=language-].line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber}pre[class*=language-].line-numbers>code{position:relative;white-space:inherit}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}
span.inline-color-wrapper{background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyIDIiPjxwYXRoIGZpbGw9ImdyYXkiIGQ9Ik0wIDBoMnYySDB6Ii8+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0wIDBoMXYxSDB6TTEgMWgxdjFIMXoiLz48L3N2Zz4=);background-position:center;background-size:110%;display:inline-block;height:1.333ch;width:1.333ch;margin:0 .333ch;box-sizing:border-box;border:1px solid #fff;outline:1px solid rgba(0,0,0,.5);overflow:hidden}span.inline-color{display:block;height:120%;width:120%}
div.code-toolbar{position:relative}div.code-toolbar>.toolbar{position:absolute;z-index:10;top:.3em;right:.2em;transition:opacity .3s ease-in-out;opacity:0}div.code-toolbar:hover>.toolbar{opacity:1}div.code-toolbar:focus-within>.toolbar{opacity:1}div.code-toolbar>.toolbar>.toolbar-item{display:inline-block}div.code-toolbar>.toolbar>.toolbar-item>a{cursor:pointer}div.code-toolbar>.toolbar>.toolbar-item>button{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}div.code-toolbar>.toolbar>.toolbar-item>a,div.code-toolbar>.toolbar>.toolbar-item>button,div.code-toolbar>.toolbar>.toolbar-item>span{color:#bbb;font-size:.8em;padding:0 .5em;background:#f5f2f0;background:rgba(224,224,224,.2);box-shadow:0 2px 0 0 rgba(0,0,0,.2);border-radius:.5em}div.code-toolbar>.toolbar>.toolbar-item>a:focus,div.code-toolbar>.toolbar>.toolbar-item>a:hover,div.code-toolbar>.toolbar>.toolbar-item>button:focus,div.code-toolbar>.toolbar>.toolbar-item>button:hover,div.code-toolbar>.toolbar>.toolbar-item>span:focus,div.code-toolbar>.toolbar>.toolbar-item>span:hover{color:inherit;text-decoration:none}

/* Overwrites */

code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: #E7E5E4;
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  text-shadow: none;
  background: #E7E5E4;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #FFFFFF;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 12px;
  position: relative;
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #008000; /* todo */
}
.token.punctuation {
    color: #000000;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
    color: #a31515;
}
.token.number {
  color: #098658;
}

.token.attr-name,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    color: #a31515;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    color: #00501F;
    background: inherit;
}
.token.atrule,
.token.attr-value,
.token.builtin,
.token.keyword {
    color: #0000ff;
}
.token.class-name,
.token.function {
    color: #000000;
}
.token.important,
.token.regex,
.token.variable {
    color: #000000;
}
div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
    color: black;
}

.line-highlight {
    background: hsla(24, 20%, 50%, 0.08);
    background: linear-gradient(
      to right,
      hsla(153, 100%, 47%, 0.3) 70%,
      hsla(153, 100%, 47%, 0.1)
    );
  }
  .line-highlight:before,
  .line-highlight[data-end]:after {
    background-color: hsla(153, 100%, 47%, 0.4);
    color: #F5F5F5;
    box-shadow: 0 1px #fff;
  }
  pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
    background-color: rgba(128, 128, 128, 0.2);
  }
  .line-numbers .line-numbers-rows {
    border-right: 1px solid #d3d3d3;
  }
  .line-numbers-rows > span:before {
    color: #237893;
  }

  .code-toolbar {
    border: 1px solid black;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
  }

/* Commandline prompt */

.code-terminal {
  border: 1px solid black;
  background-color: #333;
  margin-bottom: 1rem;
}

.code-terminal > pre[class*="language-"] {
  background-color: #333 !important;
  color: white !important;
}

.code-terminal > pre[class*="language-"] > code span {
  text-shadow: none;
  color: white !important;
}

.code-terminal > pre[class*="language-"] > code span > .token.class-name,
.code-terminal > pre[class*="language-"] > code span > .token.function,
.code-terminal > pre[class*="language-"] > code span > .token.punctuation,
.code-terminal > pre[class*="language-"] > code span > .token.important,
.code-terminal > pre[class*="language-"] > code span > .token.regex,
.code-terminal > pre[class*="language-"] > code span > .token.variable {
    color: white !important;
}


div.code-toolbar.code-terminal > .toolbar > .toolbar-item > a,
div.code-toolbar.code-terminal > .toolbar > .toolbar-item > button,
div.code-toolbar.code-terminal > .toolbar > .toolbar-item > span {
    background: rgba(224, 224, 224, 0.8);
    box-shadow: 0 2px 0 0 rgba(256, 256, 256, 0.8);
}

.code-terminal > pre[class*="language-sh"] > code {
  background-color: #333 !important;
  color: white !important;
  text-shadow: none !important;
}

.command-line-prompt {
  background-color: #333;
  border-right: 1px solid #999;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 1em;
  pointer-events: none;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.command-line-prompt > span:before {
  opacity: 0.7;
  content: " ";
  display: block;
  padding-right: 0.8em;
}
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}
.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}
.command-line-prompt > span[data-continuation-prompt]:before {
  content: attr(data-continuation-prompt);
}
.command-line span.token.output {
  opacity: 0.7;
}
