//
// Left side navigation
//
.td-sidebar-nav {
    padding-right: 0.5rem;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 1rem;
    font-weight: 300;

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            max-height: calc(100vh - 4rem);
            overflow-y: auto;
        }
    }


    @include media-breakpoint-up(md) {
        display: block !important;
    }


    &__section {
        li {
            list-style: none;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        & .ul-1 > ul {
            padding-left: 0.833em;
            font-size: 1rem;
        }

        & .ul-1 ul {
            padding-left: 0.833em;
            font-size: 0.833rem;
        }

        @include media-breakpoint-up(md) {
            & .ul-1 ul {
                // padding-left: 0rem;
            }
        }
        padding-left: 0;
    }

    &__section-title {
        display: block;
        font-weight: $font-weight-normal;

        .active-path {
            font-weight: $font-weight-bold;
        }

        .active {
            font-weight: $font-weight-bold;
        }

        a {
            color: $gray-900;
        }
    }

    a, .emptynode {
        display: inline-block;
        padding-top: 0.175rem;
        padding-bottom: 0.175rem;
        color: #333333;
        text-decoration: none;
        width: 100%;

        &:hover {
            color: $blue;
            text-decoration: none;
            cursor: pointer;
        }

        &.active {
            // The active navbar item
            color: #282829;
            font-weight: 600;
            width: 100%;
        }
    }

    .dropdown {
        a {
            color: $gray-700;
        }

        .nav-link {
             padding: 0 0 1rem;
        }
    }

    & > .td-sidebar-nav__section {
        padding-top: .5rem;
        padding-left: 0rem;
        padding-right: 0rem !important;
    }

    li i { // Layout of icons
        padding-right: 0.5em;
        -webkit-text-stroke: 1px whitesmoke;
        &:before{
            display: inline-block;
            text-align: center;
            min-width: 1em;
        }
    }

    .tree-root{
        color: black;
        border-bottom: 1px black solid;
        margin-bottom: 1rem;
    }
}

.td-sidebar {
    @include media-breakpoint-up(md) {
        padding-top: 6rem;
        background-color: $td-sidebar-bg-color;
        padding-right: 1rem;
        border-right: 1px solid $td-sidebar-border-color;
    }

    &__toggle {
        line-height: 1;
        color: $gray-900;
        margin: 1rem;
    }

    &__search {
    }

    &__inner {
        order: 0;

        @include media-breakpoint-up(md) {
            @supports (position: sticky) {
                position: sticky;
                top: 4rem;
                z-index: 10;
                height: calc(100vh - 4rem);
            }
        }

        @include media-breakpoint-up(xl) {
            flex: 0 1 320px;
        }

        .td-search-box {
            width: 100%;
        }
    }

    #content-desktop {display: block;}
    #content-mobile {display: none;}
    .content-mobile {display: none;}

    @include media-breakpoint-down(md) {

    #content-desktop {display: none;}
    #main_navbar {display: none;}
    #content-mobile {display: block;}
    .content-mobile {display: block;}
    }
}

li .indent {
    font-size: 0.833rem;
    padding-left: 0.75rem;
}

.header-only > span > span {
    font-size: 0.9375rem;
}

@media (min-width: 768px) {
    .header-only > span > span.emptynode:hover {
    color: #aaa;
    }

    .ul-2 > li:not(:last-child) {
        padding-bottom: 8px;
    }
}

ul li.active-path.active > a, ul li.active-path.active > span > span {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    width: 100%;
}
