//
// Left side navigation
//
.td-sidebar-nav {
    padding-right: 0.5rem;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            max-height: calc(100vh - 4rem);
            overflow-y: auto;
        }
    }


    @include media-breakpoint-up(md) {
        display: block !important;
    }


    &__section {
        li {
            list-style: none;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        & .ul-1 ul {
            padding-left: 0.833em;
            font-size: 0.833rem;
        }

        @include media-breakpoint-up(md) {
            & .ul-1 ul {
                padding-left: 0.75rem;
            }
        }
        padding-left: 0;
    }

    &__section-title {
        display: block;
        font-weight: $font-weight-normal;

        .active-path {
            font-weight: $font-weight-bold;
        }

        .active {
            font-weight: $font-weight-bold;
        }

        a {
            color: $gray-900;
        }
    }

    a, .emptynode {
        display: inline-block;
        padding-bottom: 0.375rem;
        color: black;
        text-decoration: none;

        &:hover {
            color: $blue;
            text-decoration: none;
        }

        &.active {
            // The active navbar item
            color: #0000EA;
            font-weight: 600;
        }
    }

    .dropdown {
        a {
            color: $gray-700;
        }

        .nav-link {
             padding: 0 0 1rem;
        }
    }

    & > .td-sidebar-nav__section {
        padding-top: .5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    li i { // Layout of icons
        padding-right: 0.5em;
        &:before{
            display: inline-block;
            text-align: center;
            min-width: 1em;
        }
    }

    .tree-root{
        color: black;
        border-bottom: 1px black solid;
        margin-bottom: 1rem;
    }
}

.td-sidebar {
    @include media-breakpoint-up(md) {
        padding-top: 4rem;
        background-color: $td-sidebar-bg-color;
        padding-right: 1rem;
        border-right: 1px solid $td-sidebar-border-color;
    }

    &__toggle {
        line-height: 1;
        color: $gray-900;
        margin: 1rem;
    }

    &__search {
        padding: 1rem 15px;
        margin-right: -15px;
        margin-left: -15px;
    }

    &__inner {
        order: 0;

        @include media-breakpoint-up(md) {
            @supports (position: sticky) {
                position: sticky;
                top: 4rem;
                z-index: 10;
                height: calc(100vh - 4rem);
            }
        }

        @include media-breakpoint-up(xl) {
            flex: 0 1 320px;
        }

        .td-search-box {
            width: 100%;
        }
    }

    #content-desktop {display: block;}
    #content-mobile {display: none;}

    @include media-breakpoint-down(md) {

    #content-desktop {display: none;}
    #content-mobile {display: block;}
    }
}


.menu-toggle {
    margin-right: -1.5em;
    float: right;
}

li .indent {
    font-size: 0.833rem;
    padding-left: 0.75rem;
}