/*

Add styles or override variables from the theme here.

*/


/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.table-responsive, .td-content > table, .td-box .row.section > table {
display:table;
width:auto;
border:1px solid black;

}

.table thead th, .td-content > table thead th, .td-box .row.section > table thead th{
  border:1px solid black;

}


.table th, .td-content > table th, .td-box .row.section > table th, .table td, .td-content > table td, .td-box .row.section > table td {
  border:1px solid black;
}

.table th {
  background-color: #e6e6e6;
}


/**/


/* START Adds an "End of Tab Pane" delimiter to Tabbed Panels */




tab-content:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50%;
  border-bottom: 3px solid #000;
}



.tab-content{
  border-right:2px solid  lightgray;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom:2px solid lightgray;
  bottom: 0;

}


.tab-content::after{
  border-bottom: solid 3px lightgrey;
  color:black;
  font-weight:400;
  margin-left: 5%;
  border-length: 50%;
  font-size:small;
    content: 'End of Tab Pane';
}






/* END Adds an "End of Tab Pane" delimiter to Tabbed Panels */



/* START - CSS to stack Eliot's video on the landing page */

.mra-column {
  float: left;
  width: 50%;
  padding: 10px;
   
}

.mra-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 576px) {
  .mra-column {
    width: 100%;
  }
}
/* END - CSS to stack Eliot's video on the landing page */

/* START Add Square bracket on footnote number */
a.footnote-ref::before {
  content: '[';
}
a.footnote-ref::after {
  content: ']';
}
/* END Add Square bracket on footnote number */



/* START Disable unwanted RH TOC entries */

/* Disable "Create Child Pages" */
.td-page-meta--child { display: none !important; }

/* Disable "Edit this page" */
.td-page-meta--edit { display: none !important; }

/* Disable "View page source" */
.td-page-meta--view { display: none !important; }

/* END Disable unwanted RH TOC entries */


/*
START MARKETING CSS
*/
/* START Adjust Heading sizes*/
h1, .h1 {
    font-size: 32pt !important;
    margin-left: 0px;
   }
   
   h2, .h2 {
    font-size: 24 pt !important;
    margin-left: 24px;

   }
   
   h3, .h3 {
    font-size: 18pt !important;
    margin-left: 40px;
   }

      /* Added H4 and H5 in response to DAD-97 */
      /* Added rules and increased indents */
   h4, .h4 {
    font-size: 16pt !important;
    margin-left: 60px;
   }

   h5, .h5 {
    font-size: 16pt !important;
    font-weight: 400;
    font-style: italic;
    margin-left: 70px;
   }

 /* This class prevents h4 headings in alerts from indenting */   
.plain{
  margin-left: 0;
}
  /* This prevents the h4 heading rules from appearing in alerts */   
.plain:after{
    content:' ';
    display:none;

}

   /* END Adjust Heading sizes*/

/* */

h1:after
{
    content:' ';
    display:block;
    border:1px solid black;
}

h2:after
{
    content:' ';
    display:block;
    border:1px solid black;
    margin-right:25%;
}

h3:after
{
    content:' ';
    display:block;
    border:1px solid black;
    margin-right:50%;
}

h4:after
{
    content:' ';
    display:block;
    border:1px solid black;
    margin-right:50%;
}
h5:after
{
    content:' ';
    display:block;
    border:1px dashed  black;
    margin-right:75%;
}

   
.td-sidebar {

/*NAV Panel changes*/    
/* background */
background-color: #f2f2f2;   
}
/* font color */
/* This font color relieves the overall heaviness of the LH menu.  */
.td-sidebar-nav .td-sidebar-link__page {
    color: #495057;
 }
/* This font color sets the active item to heavy black */
 .td-sidebar-nav-active-item{
  color: black;
}



/* font weight */ 
 .td-sidebar-nav .td-sidebar-link__page{
    font-weight:600;  /* LH TOC Font weight  */
 }


 .td-toc #TableOfContents a {
    color: black; /* Color of the RH TOC text */
    font-weight:400;  /* LH TOC Font weight  */    
    }


    .td-navbar {
        background: black;
    }


.td-navbar {
    background: black !important;
}




/* sets the footer to black. */
.bg-dark {
    background-color: black !important;
}


/* sets the base font heavier than the theme. */
.td-content p, .td-content li, .td-content td {
    font-weight: normal;
    color: black;
}



.td-sidebar-nav .td-sidebar-link.tree-root {
    font-weight: 700;
    color: black;
    border-bottom: 1px #30638E solid;
    margin-bottom: 1rem;
}



.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: black;
    content: ">>";
}

/*
END MARKETING CSS
*/


/* START VIDEO SHORTCODE STYLES https://roneo.org/en/hugo-create-a-shortcode-for-local-videos/*/
/* I added margins, changed Preload to 600px. The default was 100% */

.video-shortcode {
    margin: 12px 0 12px 0;
    border:solid 1px;
    border-color: blue;
    max-width: 600PX;
    height: auto;
  }
/* START VIDEO SHORTCODE STYLES https://roneo.org/en/hugo-create-a-shortcode-for-local-videos/ */

/**/
.primary-color                      {color: var(--primary-color)}
.bg-primary-color                   {background-color: var(--primary-color)}
.hover-bg-primary-color:hover       {background-color: var(--primary-color)}

.primary-color-dark                  {color: var(--primary-color-dark)}
.bg-primary-color-dark               {background-color: var(--primary-color-dark)}
.hover-bg-primary-color-dark:hover   {background-color: var(--primary-color-dark)}

.primary-color-light                  {color: var(--primary-color-light)}
.bg-primary-color-light               {background-color: var(--primary-color-light)}
.hover-bg-primary-color-light:hover   {background-color: var(--primary-color-light)}

.accent-color                         {color: var(--accent-color)}
.bg-accent-color                      {background-color: var(--accent-color)}
.hover-bg-accent-color:hover          {background-color: var(--accent-color)}

.accent-color-light                   {color: var(--accent-color-light)}
.hover-accent-color-light:hover                   {color: var(--accent-color-light)}
.bg-accent-color-light                {background-color: var(--accent-color-light)}
.hover-bg-accent-color-light:hover    {background-color: var(--accent-color-light)}

.accent-color-dark                    {color: var(--accent-color-dark)}
.bg-accent-color-dark                 {background-color: var(--accent-color-dark)}
.hover-bg-accent-color-dark:hover     {background-color: var(--accent-color-dark)}

.text-color-primary    {color: var(--text-color-primary)}
.text-on-primary-color {color: var(--text-on-primary-color)}
.text-color-secondary  {color: var(--text-color-secondary)}
.text-color-disabled   {color: var(--text-color-disabled)}
.divider-color         {color: var(--divider-color)}
.warn-color            {color: var(--warn-color)}


.nested-links a {
  color: var(--primary-color);
  text-decoration: none;

}

/* START CSS FOR NOTES, CAUTIONS, WARNINGS */

// Style alert boxes.

.alert {
    font-weight: $font-weight-medium;
    background: $white;
    color: inherit;
    border-radius: 0;

    @each $color, $value in $theme-colors {
        &-#{$color} {
            & .alert-heading {
                color: $value;
            }

            border-style: solid;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-color: $value;
            border-width: 0 0 0 12px;
        }
    }
}

.alert-heading { // left margin for h4 in alerts
margin-left: 0; 
}
.alert-heading::after { // blocks display h4 rules in alerts
  content:' ';
  display:none;

}

.note,
.caution,
.warning {

  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  border-color: var(--primary-color);

  display: block;
}
.note #exclamation-icon,
.caution #exclamation-icon,
.warning #exclamation-icon {

  fill: var(--primary-color);
  position: absolute;
  top: 35%;
  left: -12px;
  /*background-color: white;*/
}

  .admonition-content {
    display: block;
    margin: 0px;
    padding: .125em 1em;
    /*margin-left: 1em;*/
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
    /*font-size: .9375em;*/
    background-color: var(--black-05);
  }

/* color: sets the text color in the alert*/
/* background: sets the background color in the alert*/
/* border-color: sets the color of the LH border in the alert*/
/* .alert-warning hr: doesn't seem to do anything*/
/* .alert-warning .alert-link: doesn't seem to do anything*/

.alert-warning {
  color: black;
  background: whitesmoke;
  border-color: #ffb8b8; 
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
border-style: solid;
    border-color: red;
    border-width: 0 0 0 8px;
}
  .alert-warning hr {
    border-top-color: #ff9f9f; }
.alert-warning .alert-link {
    color: #520000; }
  

.alert-note {
  color: black;
  background: whitesmoke;
  border-color: blue; 
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
border-style: solid;
    border-color: blue;
    border-width: 0 0 0 8px;
}
  .alert-note hr {
    border-top-color: #ff9f9f; }
.alert-note .alert-link {
    color: #520000; }


.alert-caution {
  color: black;
  background: whitesmoke;
  border-color: #eba71b; 
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
border-style: solid;
    border-color: #f0b93f;
    border-width: 0 0 0 8px;
}
  .alert-caution hr {
    border-top-color: #ff9f9f; }
.alert-caution .alert-link {
    color: #520000; }


.alert-tip {
  color: black;
  background: whitesmoke;
  border-color: #1be020; 
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
border-style: solid;
    border-color: #1be020;
    border-width: 0 0 0 8px;
}
    


/* END CSS FOR NOTES, CAUTIONS, WARNINGS */


/* START CSS FOR EXPANDER */

.expand-label {
font-family: Space Grotesk, sans-serif;
font-weight:bold;
font-size: 12px !important; 
background-color:#e7ecff;

}
.expand-content {
  border:cornflowerblue solid 1px;

}

/* END CSS FOR EXPANDER */