/*

Add styles or override variables from the theme here.

*/


/* START - CSS to stack Eliot's video on the landing page */

.mra-column {
  float: left;
  width: 50%;
  padding: 10px;
}

.mra-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 576px) {
  .mra-column {
    width: 100%;
  }
}
/* END - CSS to stack Eliot's video on the landing page */

/* START Add Square bracket on footnote number */
a.footnote-ref::before {
  content: '[';
}
a.footnote-ref::after {
  content: ']';
}
/* END Add Square bracket on footnote number */



/* START Disable unwanted RH TOC entries */

/* Disable "Create Child Pages" */
.td-page-meta--child { display: none !important; }

/* Disable "Edit this page" */
.td-page-meta--edit { display: none !important; }

/* Disable "View page source" */
.td-page-meta--view { display: none !important; }

/* END Disable unwanted RH TOC entries */


/*
START MARKETING CSS
*/
/* START Adjust Heading sizes*/

.td-navbar .navbar-brand {
  font-family: Space Mono, sans-serif;
  font-size: 0.833rem;
  line-height: 1.667em;
  letter-spacing: 0.1875rem;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  a {
    color: white;
  }
}

.td-navbar .nav-link {
  font-family: Space Mono, sans-serif;
  font-weight: 400;
  font-size: 0.833rem;
  line-height: 1.667em;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  text-decoration: none;
}

h1, .h1 {
  font-family: Space Mono, sans-serif;
  font-size: 2.33rem;
  margin-left: 0px;
}

h2, .h2 {
  font-size: 1.5rem !important;
  line-height: 2.625rem;
}

h3, .h3 {
  font-size: 1.1667rem !important;
}

/* Added H4 and H5 in response to DAD-97 */
h4, .h4 {
  font-size: 1.0625rem !important;
  line-height: 1.4375em;
}

h5, .h5 {
  font-size: 0.833 !important;
}

h6, .h6 {
  font-size: 0.833rem !important;
  line-height: 1.0625rem;
}

h7, .h7 {
  font-size: 0.833rem !important;
  line-height: 1.0625rem;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline green;
}

.td-content > h3 {
  margin-bottom: 0.667rem;
}

/* This class prevents h4 headings in alerts from indenting */
.plain{
  margin-left: 0;
}
/* This prevents the h4 heading rules from appearing in alerts */
.plain:after{
  content:' ';
  display:none;
}

/* END Adjust Heading sizes*/


.td-sidebar {
  /*NAV Panel changes*/
  /* background */
  background-color: #f2f2f2;
  letter-spacing: 0.0625rem;
}

.td-toc > nav ul li {
  border-left: 2px solid #1be020;
  padding-left: 16px;
  height: fit-content;
}

.td-toc > nav ul li.toc-active {
  border-left: 2px solid #666666;
}

.td-toc > nav ul li ul li {
  margin-left: -18px;
  padding-left: 32px;
  height: fit-content;
}

.td-toc > nav ul li ul li.toc-active {
  border-left: 2px solid #666666;
}

.td-toc #TableOfContents ul li a {
  font-size: 0.833rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  color: #333333;
  text-decoration: none;
}

.td-toc #TableOfContents ul li li a {
  font-size: 0.833rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  color: #666666;
}

// Expanded headers should be bold

.breadcrumb {
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  a {
    text-decoration: none;
  }
}

a {
  color: #0000EA;
  h1, h2, h3, h4, h5, h6, h7, p {
    color: black;
  }
}

a:hover {
  color: #0000EA;
  h1, h2, h3, h4, h5, h6, h7, p {
    color: black;
  }
}

a > code {
  color: #0000EA !important;
}

.td-toc #TableOfContents ul li li a > code {
  color: #666666 !important;
}

.td-toc #TableOfContents ul li a > code {
  color: #333333 !important;
}

footer a {
  color: #fff !important;
}

p, li {
  color: #515151;
  a {
    text-decoration: underline;
  }
}

/* Add margin in front of breadcrumbs on small screens */
@media (max-width: 768px) {
  .td-main main {
    margin-top: 0.5rem;
  }
}

/*This ensures there is no padding added to the top logo bar*/
.td-navbar .td-navbar-nav-scroll {
  height: unset;
}

.td-navbar .td-navbar-nav-scroll .navbar-nav {
  padding-bottom: unset;
}

/* font weight */

.td-navbar {
  background: black !important;
}

/* sets the footer to black. */
.bg-dark {
  background-color: black !important;
}

/* sets the base font heavier than the theme. */
.td-content p, .td-content li, .td-content td {
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 1.75em !important;
}

.breadcrumb-item {
  color: #0000EA;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: black;
  content: ">>";
}

/*
END MARKETING CSS
*/


/* START VIDEO SHORTCODE STYLES https://roneo.org/en/hugo-create-a-shortcode-for-local-videos/*/
/* I added margins, changed Preload to 600px. The default was 100% */

.td-content > .video-shortcode, .video-shortcode {
  margin: 12px 0 12px 0;
  border:solid 1px;
  max-width: 100%;
  width: 600px;
  height: auto;
}
/* START VIDEO SHORTCODE STYLES https://roneo.org/en/hugo-create-a-shortcode-for-local-videos/ */

/**/
.primary-color                      {color: var(--primary-color)}
.bg-primary-color                   {background-color: var(--primary-color)}
.hover-bg-primary-color:hover       {background-color: var(--primary-color)}

.primary-color-dark                  {color: var(--primary-color-dark)}
.bg-primary-color-dark               {background-color: var(--primary-color-dark)}
.hover-bg-primary-color-dark:hover   {background-color: var(--primary-color-dark)}

.primary-color-light                  {color: var(--primary-color-light)}
.bg-primary-color-light               {background-color: var(--primary-color-light)}
.hover-bg-primary-color-light:hover   {background-color: var(--primary-color-light)}

.accent-color                         {color: var(--accent-color)}
.bg-accent-color                      {background-color: var(--accent-color)}
.hover-bg-accent-color:hover          {background-color: var(--accent-color)}

.accent-color-light                   {color: var(--accent-color-light)}
.hover-accent-color-light:hover                   {color: var(--accent-color-light)}
.bg-accent-color-light                {background-color: var(--accent-color-light)}
.hover-bg-accent-color-light:hover    {background-color: var(--accent-color-light)}

.accent-color-dark                    {color: var(--accent-color-dark)}
.bg-accent-color-dark                 {background-color: var(--accent-color-dark)}
.hover-bg-accent-color-dark:hover     {background-color: var(--accent-color-dark)}

.text-color-primary    {color: var(--text-color-primary)}
.text-on-primary-color {color: var(--text-on-primary-color)}
.text-color-secondary  {color: var(--text-color-secondary)}
.text-color-disabled   {color: var(--text-color-disabled)}
.divider-color         {color: var(--divider-color)}
.warn-color            {color: var(--warn-color)}


.nested-links a {
  color: var(--primary-color);
  text-decoration: none;

}

/* START CSS FOR NOTES, CAUTIONS, WARNINGS */

// Style alert boxes.

.alert {
  font-weight: $font-weight-medium;
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px 0 0 #000;
  margin-right: 5px;

  @each $color, $value in $theme-colors {
    &-#{$color} {
      & .alert-heading {
        color: $value;
      }
    }
  }
  p {
    color: black;
  }
}

.td-content .alert:not(:first-child) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.alert-heading { // left margin for h4 in alerts
  margin-left: 0;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
.alert-heading::after { // blocks display h4 rules in alerts
  content:' ';
  display:none;
}

.note,
.caution,
.warning {
  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  border-color: var(--primary-color);
  display: block;
}
.note #exclamation-icon,
.caution #exclamation-icon,
.warning #exclamation-icon {
  fill: var(--primary-color);
  position: absolute;
  top: 35%;
  left: -12px;
  /*background-color: white;*/
}

.admonition-content {
  display: block;
  margin: 0px;
  padding: .125em 1em;
  /*margin-left: 1em;*/
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-x: auto;
  /*font-size: .9375em;*/
  background-color: var(--black-05);
}

/* color: sets the text color in the alert*/
/* background: sets the background color in the alert*/
/* border-color: sets the color of the LH border in the alert*/
/* .alert-warning hr: doesn't seem to do anything*/
/* .alert-warning .alert-link: doesn't seem to do anything*/

.alert a {
  text-decoration: underline;
}

.alert a:hover {
  text-decoration: none;
}


.alert-warning {
  box-shadow: 5px 5px 0 0 red;
}
.alert-warning hr {
  border-top-color: #ff9f9f;
}
.alert-warning .alert-link {
  color: #520000;
}


.alert-note {
  box-shadow: 5px 5px 0 0 blue;
}
.alert-note hr {
  border-top-color: #ff9f9f;
}
.alert-note .alert-link {
  color: #520000;
}

.alert-caution {
  box-shadow: 5px 5px 0 0 #f0b93f;
}
.alert-caution hr {
  border-top-color: #ff9f9f;
}
.alert-caution .alert-link {
  color: #520000;
}


.alert-tip, .alert-info {
  box-shadow: 5px 5px 0 0 #1be020;
}

.alert-info .alert-heading {
  color: black;
}


/* END CSS FOR NOTES, CAUTIONS, WARNINGS */


/* START CSS FOR EXPANDER */

.expand-label {
  font-family: Space Grotesk, sans-serif;
  font-weight:bold;
  background-color: whitesmoke;
  border: black solid 1px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  i {
    font-size: inherit !important;
  }
}

.expand-content {
  border-top: black solid 0px;
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-bottom: black solid 1px;
  background: whitesmoke;
  padding: 1rem;
}

.expand {
  padding-bottom: 1rem;
}

/* END CSS FOR EXPANDER */

/* START card styling */
.hover-card {
  border: 1px solid #000;
  box-shadow: 5px 5px 0 0 #000;
  margin: 1em;
  min-width: 200px;
  width: 200px;
  max-width: 200px;
  display: flex;
  padding: 1rem
}

.hover-card:hover {
  box-shadow: 8px 8px 0 0 #000;

  -webkit-transform: translate(-3px,-3px);
  -ms-transform: translate(-3px,-3px);
  transform: translate(-3px,-3px);
}

.hover-card-small > a > .hover-card-img, .hover-card-small > a > video {
  margin-bottom: 1rem;
}

@media (max-width: 650px) { // at least two cards fit next to one another
  .hover-card.hover-card-small { // only one card
    min-width: 90%;
    width: 90%;
    max-width: 90%;

    a {
      display: flex;

      video {
        max-width: 50%;
        padding-right: 1rem;
      }

      .hover-card-img {
        max-width: 50%;
        margin: 0 1rem 1rem 0;
        margin: auto;
        padding-right: 1rem;

        img {
          margin-bottom: 0;
        }
      }

      .hover-card-icon {
        max-width: 30%;
        margin: 0 1rem 1rem 0;
        margin: auto;
        padding-right: 1rem;

        img {
          margin-bottom: 0;
        }
      }

      div.small-hover-card-div {
        width: 50%;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .hover-card.hover-card-xs {
    min-width: 40%;
    width: 40%;
    max-width: 40%;
  }

}

@media (min-width: 650px) { // at least two cards fit next to one another
  .hover-card.hover-card-small {
    min-width: 250px;
    max-width: 250px;
  }

  a {
    display: unset;
  }
}

@media (min-width: 992px) {
  .hover-card {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
  }
}

.landing-hover-card {
  margin: 1em auto;
  min-width: 300px;
  max-width: 450px;
  display: flex;
}

.landing-hover-card-padding {
  padding: 1rem;
  border: 1px solid #000;
  box-shadow: 5px 5px 0 0 #000;
}

.landing-hover-card-padding.yellow:hover {
  box-shadow: 8px 8px 0 0 #FFD400;

  -webkit-transform: translate(-3px,-3px);
  -ms-transform: translate(-3px,-3px);
  transform: translate(-3px,-3px);
}

 .landing-hover-card-padding.green:hover {
  box-shadow: 8px 8px 0 0 #00ef83;

  -webkit-transform: translate(-3px,-3px);
  -ms-transform: translate(-3px,-3px);
  transform: translate(-3px,-3px);
}

 .landing-hover-card-padding.purple:hover {
  box-shadow: 8px 8px 0 0 #a51aff;

  -webkit-transform: translate(-3px,-3px);
  -ms-transform: translate(-3px,-3px);
  transform: translate(-3px,-3px);
}

 .landing-hover-card-padding.teal:hover {
  box-shadow: 8px 8px 0 0 #00e8e8;

  -webkit-transform: translate(-3px,-3px);
  -ms-transform: translate(-3px,-3px);
  transform: translate(-3px,-3px);
}

 .landing-hover-card-padding.pink:hover {
  box-shadow: 8px 8px 0 0 #ff79ff;

  -webkit-transform: translate(-3px,-3px);
  -ms-transform: translate(-3px,-3px);
  transform: translate(-3px,-3px);
}

.hover-card-tutorial {
  background-color: whitesmoke;
  padding: 10px;
}

.hover-card-tutorial > a {
  width: 100%;
}

.hover-card-tutorial * .small-hover-card-div {
  color: black;
}

.hover-card-tutorial * .pills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hover-card-tutorial * .pill {
 background-color: white;
 padding: 0.1rem 0.25rem;
 border: 1px solid black;
 margin: 0.1rem
}

.hover-card-tutorial * .pill.pill-lang {
  color: white;
  background-color: #333;
}

.robot-cost {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
}

.robot-cost > .key {
  min-width: 50px;
  color: #666666;
  margin-right: 0.3rem;
}

/* END card styling */
.nav-link {
  text-decoration: none;
}

/* START CSS to ensure lists within columns of markdown aren't indented */

td > ul, td > ol {
  padding-inline-start: 0;
}

/* END CSS to ensure lists within columns of markdown aren't indented */

/* START TAB CSS consistency */

.nav-tabs {
    border-bottom: none; // unset from inherited styles
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover {
  background-color: white;
  border-bottom: 1px solid white;
}

.nav-tabs .nav-link, .nav-tabs .nav-link:hover {
  border: 0px;
  border-style: solid;
  border-left: 1px solid rgb(209, 213, 219);
  border-bottom: 1px solid rgb(209, 213, 219);
  border-radius: 0;
  padding: 0.25rem 1rem;
  color: rgb(78, 79, 82);
  background-color: rgb(241, 241, 244)
}

.nav-tabs .nav-item:last-child {
  border-right: 1px solid rgb(209, 213, 219);
}

.tab-content {
  padding: .7rem;
  background-color: white;
  border: 1px solid rgb(215, 215, 217);
}

/* END TAB CSS consistency */

/* START no whitespace beneath footer */

body footer {
  line-height: 1;
}

footer small {
  line-height: 1.5;
}

/* END no whitespace beneath footer */

/* START scroll to top and github styling */

.docsbutton {
  border: 1px solid black;
  color: black;
  border-radius: 0;
  background-color: whitesmoke;
  margin: 0;
  padding: 1rem 1.25rem;
  i {
    color: black;
  }
}

#scrollButton {
  position: sticky;
  left: 100%;
  bottom: 1rem;
  border-radius: 0;
}

#edit-on-github {
  float: right;
  a {
    color: #515151;
  }
}

/* END scroll to top and github styling */


/* START cookie consent message */
.cookieconsent-optout-marketing {
  border: 1px solid black;
  padding: 1rem;
  box-shadow: 5px 5px 0 0 #a51aff;
  margin: 1em;
}

.embed-responsive.embed-responsive-16by9 {
  border: 1px solid black;
}
/* END cookie consent message */

/* START GIFs should have a max width */

.td-content > video {
  max-width: 600px;
}

.table {
  margin-top: 1.5rem;
}

.td-content img {
  margin-bottom: 1rem;
}

.td-content > video {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.embed-responsive.embed-responsive-16by9 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.td-sidebar-toc {
  border-left: unset;
}

/* Feedback container */

.feedback {
  padding-top: 2rem;
}

.feedback--prompt {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.feedback--question {
  display: inline;
  padding-right: 1em;
}

.feedback--answer {
  padding: 0.5rem 0.625rem;
  margin-right: 0.5rem;
}

.feedback--response {
  display: none;
  margin-top: 1em;
  border: 1px solid black;
  padding: 1rem;
  max-width: 400px;
  margin: auto;
}

.feedback--answer {
  display: inline-block;
}

.feedback--response__visible {
  display: block;
}

.feedback-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-form > button {
  margin-left: 0.5rem;
}

.feedback-form > textarea {
  height: 133px;
  width: 100%;
}

.feedback-ty {
  text-align: center;
}

.feedback-ty > p {
  margin-top: 1rem;
}

/* END Feedback container */

.glossary-anchor {
  color: black;

  svg {
    visibility: hidden;
  }
}

.glossary-anchor:hover {
  color: black;

  svg {
    color: #0000EA;
    visibility: initial;
  }
}

@media (min-width: 650px) {
  img.alignright { padding: 4px; margin: 0 0 2px 20px; display: inline; }
  img.alignleft { padding: 4px; margin: 0 20px 2px 0; display: inline; }
  video.alignright { padding: 4px; margin: 0 0 2px 20px; display: inline; }
  video.alignleft { padding: 4px; margin: 0 20px 2px 0; display: inline; }
  div.alignright { padding: 4px; margin: 0 0 2px 20px; display: inline; }
  div.alignleft { padding: 4px; margin: 0 20px 2px 0; display: inline; }
  .alignright { float: right; }
  .alignleft { float: left; }
  .aligncenter { display: block; margin-left: auto; margin-right: auto; }
}

// center on small screens
@media (max-width: 650px) {
  .alignright { display: block; margin-left: auto; margin-right: auto; }
  .alignleft { display: block; margin-left: auto; margin-right: auto; }
  .aligncenter { display: block; margin-left: auto; margin-right: auto; }
  .center-if-small { display: block; margin-left: auto; margin-right: auto; }
}

// Fix page width on full screen to be 80%

.td-content > .code-toolbar,
.td-content > .table,
.td-content > div {
  @include media-breakpoint-up(lg) {
      max-width: 80%;
  }
}