<div class="d-print-none feedback">
  <div class="feedback--prompt">
      <p class="feedback--question">Was this page helpful?</p>
      <button class="docsbutton feedbackButton feedback--answer feedback--answer-yes">Yes</button>
      <button class="docsbutton feedback--answer feedback--answer-no">No</button>
  </div>
  <div class="feedback--response feedback--response-yes">
    <p>{{ .Site.Params.ui.feedback.yes | safeHTML }}</p>
    <div class="feedback-form">
      <input type="hidden" name="url" id="feedback-url" value="{{.Permalink}}">
      <textarea name="feedback" id="yes-feedback-text" value="Feedback"></textarea>
      <button class="docsbutton feedback--answer" type="submit" id="yesSubmitButton">Send</button>
    </div>
  </div>
  <div class="feedback--response feedback--response-no">
    <p>{{ .Site.Params.ui.feedback.no | safeHTML }}</p>
    <div class="feedback-form">
      <input type="hidden" name="url" id="feedback-url" value="{{.Permalink}}">
      <textarea name="feedback" id="no-feedback-text" value="Feedback"></textarea>
      <button class="docsbutton feedback--answer" type="submit" id="noSubmitButton">Send</button>
    </div>
  </div>
  <div class="feedback--response feedback-ty"><p>Thank you!</p></div>
</div>
<script>
  const yesButton = document.querySelector('.feedback--answer-yes');
  const noButton = document.querySelector('.feedback--answer-no');
  const yesResponse = document.querySelector('.feedback--response-yes');
  const noResponse = document.querySelector('.feedback--response-no');
  const yesFeedback = document.querySelector('#yes-feedback-text');
  const noFeedback = document.querySelector('#no-feedback-text');
  const yesSubmitButton = document.querySelector('#yesSubmitButton');
  const noSubmitButton = document.querySelector('#noSubmitButton');
  const tyResponse = document.querySelector('.feedback-ty');
  const feedbackPrompt = document.querySelector('.feedback--prompt')
  const sendFeedback = (value) => {
    if (typeof gtag !== 'function') return;
    const args = {
      event_category: 'docs_helpful',
      event_label: window.location.pathname,
      value: value
    };
    gtag('event', 'click', args);
  };
  async function sendFeedbackText (value, text) {
    async function logJSONData(data) {
      return fetch("https://feedback-43tn7xos3a-uc.a.run.app", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        mode: "cors",
        credentials: "omit",
        body: JSON.stringify(data)
      });
    }
    let data = {
        value: value,
        feedback: text,
        url: "{{.Permalink}}"
    };
    let res = await logJSONData(data);
  };
  yesButton.addEventListener('click', () => {
    feedbackPrompt.remove();
    yesResponse.classList.add('feedback--response__visible');
    sendFeedback(1);
  });
  noButton.addEventListener('click', () => {
    feedbackPrompt.remove();
    noResponse.classList.add('feedback--response__visible');
    sendFeedback(0);
  });
  yesSubmitButton.addEventListener('click', () => {
    yesResponse.remove();
    tyResponse.classList.add('feedback--response__visible');
    sendFeedbackText(1, yesFeedback.value);
  });
  noSubmitButton.addEventListener('click', () => {
    noResponse.remove();
    tyResponse.classList.add('feedback--response__visible');
    sendFeedbackText(0, noFeedback.value);
  });
</script>
