{{ $cover := and
    (.HasShortcode "blocks/cover")
    (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}

<nav
  class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover }}td-navbar-cover{{ end }} flex-column td-navbar">
  <div class="navcontainer">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      {{- /**/ -}}
      <span class="navbar-logo">
        {{- if .Site.Params.ui.navbar_logo -}}
          {{ with resources.Get "icons/logo.svg" -}}
            {{ ( . | minify).Content | safeHTML -}}
          {{ end -}}
        {{ end -}}
      {{- /**/ -}}
      <span>
        Docs
      </span>
      {{- /**/ -}}
    </a>
    </span>
    <div class="td-navbar-nav-scroll ml-md-auto td-topbar-sections" id="main_navbar">
      {{- $currentPage := .Page -}}
          {{ $s := .Page.Section -}}
        <ul class="navbar-nav mt-2 mt-lg-0">
          {{ $p := . -}}
          {{ range .Site.Menus.main -}}
          <li class="nav-item mr-4 mb-2 mb-lg-0">
            {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) -}}
            {{ with .Page }}{{ $active = or $active ( $.IsDescendant .) }}{{ end -}}
            {{ $pre := .Pre -}}
            {{ $post := .Post -}}
            {{ $url := urls.Parse .URL -}}
            {{ $baseurl := urls.Parse $.Site.Params.Baseurl -}}
            <a {{/**/ -}}
              class="nav-link {{- if $active }} active {{- end }}" {{/**/ -}}
              href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}"
              {{- if ne $url.Host $baseurl.Host }} target="_blank" {{- end -}}
            >
                {{- with .Pre }}{{ $pre }}{{ end -}}
                <span {{- if $active }} class="active" {{- end }}>
                  {{- .Name -}}
                </span>
                {{- with .Post }}{{ $post }}{{ end -}}
            </a>
          </li>
          {{ end -}}
          {{ if .Site.Params.versions -}}
          <li class="nav-item dropdown mr-4 d-none d-lg-block">
            {{ partial "navbar-version-selector.html" . -}}
          </li>
          {{ end -}}
          {{ if (gt (len .Site.Home.Translations) 0) -}}
          <li class="nav-item dropdown mr-4 d-none d-lg-block">
            {{ partial "navbar-lang-selector.html" . -}}
          </li>
          {{ end -}}
        </ul>
    </div>
    {{ partial "search-input.html" . }}
    <div class="navbar-nav d-none d-lg-block" id="navsearch">
      <button class="docsbutton" id="appButton" title="Viam app">
        <span id="appButtonContent">
          <a href="https://app.viam.com" target="_blank">app.viam.com <i class="fas fa-external-link-alt fa-sm" style="margin-left: 0.5rem;"></i></a>
        </span>
      </button>
    </div>

    <div id="content-mobile">
      <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation" title="Toggle section navigation">
      </button>
    </div>

  </div>
  <div class="second-nav">
    <ul>
      <li><a href="/" title="Overview" class="{{ if .IsHome }}active-path{{ end }}">Overview</a></li>
    {{ with .Site.GetPage "/" }}
    {{- range .Pages -}}
    {{- $activePath := or ($currentPage.IsDescendant .) (eq $currentPage .) -}}
    {{- if not (eq .LinkTitle "Tutorials") -}}
    <li><a href="{{.RelPermalink}}" title="{{ .Title }}" class="{{ if $activePath}} active-path{{ end }}">{{ .LinkTitle }}</a></li>
    {{- end -}}
    {{- end -}}
    {{- end -}}
    </ul>
  </div>
</nav>
