{{ $recentlyChanged := (lt (sub now.Unix .Lastmod.Unix) 3600) }}

{{if .Params.metaDescription }}
  {{if gt (len .Params.metaDescription) 158}}
    {{- warnf "Page description too long (%d) - should be 50-158 characters: %q." (len .Params.metaDescription) .Path -}}
  {{ end }}
  {{if lt (len .Params.metaDescription) 50}}
    {{- warnf "Page description too short (%d) - should be 50-158 characters: %q." (len .Params.metaDescription) .Path -}}
  {{ end }}
  {{ with .Params.metaDescription | plainify -}}
    {{ . -}}
  {{ end }}
{{else if .Description }}
  {{ if $recentlyChanged}}
    {{if gt (len .Description) 158}}
      {{- warnf "Page description too long (%d) - change it or add a metaDescription with 50-158 characters: %q." (len .Description) .Path -}}
    {{ end }}
    {{if lt (len .Description) 50}}
      {{- warnf "Page description too short (%d) - change it or add a metaDescription with 50-158 characters: %q.\n This may be a good start:\n%q" (len .Description) .Path (.Summary | plainify) -}}
    {{ end }}
  {{ end }}
  {{ with .Description | plainify -}}
    {{ . -}}
  {{ end }}
{{ else -}}
  {{ if .IsPage -}}
    {{ if not .Params.empty_node }}
    {{- errorf "No description for page %q" .Path -}}
    {{ end -}}
  {{ else -}}
    {{ with .Site.Params.description | plainify -}}
      {{ . -}}
    {{ end -}}
  {{ end -}}
{{ end -}}
