{{ $size := (.size) }}
{{ $customTitle := (.custom) }}
{{ $link := (path.Clean (.link)) }}
{{ $baseurl := .Site.BaseURL }}
{{ if (eq (substr .Site.BaseURL -1 1) "/" ) }}
  {{ $baseurl := (substr .Site.BaseURL 0 -1) }}
{{ end }}
<div class="col tutorial hover-card">
  {{ if site.GetPage ($link | string) }}
    {{ with site.GetPage ($link | string) }}
      <a href="{{.RelPermalink}}">
          {{ if .Params.webmSrc }}
          <div class="hover-card-video">
            <video autoplay loop muted playsinline alt="{{ .Params.videoAlt }}" width="100%" style="max-width: 100% " class="">
              <source src="{{relURL (substr (.Params.webmSrc) 1) }}" type="video/webm">
              <source src="{{relURL (substr (.Params.mp4Src) 1) }}" type="video/mp4">
              There should have been a video here but your browser does not seem to support it.
            </video>
          </div>
          {{ else if .Params.images }}
          <div class="hover-card-img">
            {{ partial "imgproc.html" (dict "src" (index .Params.images 0) "resize" "300x" "alt" .Params.imageAlt "style" "" "class" "" "declaredimensions" false ) }}
          </div>
          {{ else if .Params.icon }}
          <div class="hover-card-icon">
            {{ partial "imgproc.html" (dict "src" .Params.icon "resize" "300x" "alt" .Params.linkTitle "style" "" "class" (.class) "declaredimensions" false ) }}
          </div>
          {{ end }}
          <div {{ if (index .Params.images 0) }}class="small-hover-card-div"{{ end }}{{ if .Params.webmSrc }}class="small-hover-card-div"{{ end }}>
            <div>
            {{ if $customTitle }}<span>{{ $customTitle }}</span>{{ else }}<span>{{ .LinkTitle }}</span>{{ end }}
            <div class="pills">
            {{if .Params.languages}}
            {{ range sort .Params.languages }}
              <div class="pill pill-lang">{{ . }}</div>
            {{ end }}
            {{ end }}
            {{if .Params.viamresources}}
            {{ range sort .Params.viamresources }}
              <div class="pill pill-component">{{ . }}</div>
            {{ end }}
            {{ end }}
            </div>
          </div>
          {{if .Params.cost}}
            <div class="robot-cost">
              <div class="key">Materials: </div>
              <div class="value">~${{ .Params.cost }}</div>
            </div>
          {{ end }}
        </div>
      </a>
      {{ end }}
  {{ else }}
  {{ warnf "?Tutorial card has a bad link: %s" $link }}
  {{ end }}
</div>
