{{ define "main"}}

<main id="main">
    <br />
    <h1 id="title">404 | These are not the droids you're looking for</h1>
    <br />
    <h2>But maybe these could be helpful?</h2>
    <div class="card-container">
        <div class="row-no-margin">
            {{ partial "card.html" (dict "link" "/get-started/viam/" "class" "" "customTitle" "" "customDescription" "Learn everything you need to know to get started with the Viam platform." "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/tutorials/get-started/try-viam-sdk/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/get-started/installation/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/configure/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/sdks/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
        </div>
    </div>
    <br />
    <h2>Or these?</h2>
    <div class="card-container">
        <div class="row-no-margin">
            {{ partial "card.html" (dict "link" "/tutorials/get-started/servo-mousemover/" "class" "" "customTitle" "Create a Mouse Mover" "customDescription" "" "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/tutorials/services/plan-motion-with-arm-gripper/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/tutorials/services/color-detection-scuttle/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/tutorials/custom/custom-base-dog/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
            {{ partial "card.html" (dict "link" "/tutorials/projects/make-a-plant-watering-robot/" "class" "" "customTitle" "" "customDescription" "" "customCanonicalLink" "" ) }}
        </div>
    </div>
    <br />
    <h2>
        If none of these links are useful, go to
        <a href="/">the docs overview</a>.
    </h2>
</main>
{{ end }}
