{{ define "main"}}
<main id="main">


      <style>
                * {
      box-sizing: border-box;
    }
    .row {
      margin-left:-5px;
      margin-right:-5px;
    }

    .column {
      float: left;
      width: 40%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

        .button-48 {
  background-color: #FFFFFF;
  border: none;
  box-sizing: border-box;
  color: #3176D9 ;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: underline #3176D9 solid;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
</style>

<div>
<h1 id="title">We've moved that resource</h1>
<p>We're making daily improvements to Viam's documentation. Unfortunately, that sometimes causes issues with links and saved bookmarks. Please update your bookmark, if necessary!</p>  

<h4>High Traffic Pages</h4>
<UL>
<li><a href="/viam/">Viam in 3 minutes</a></li>
<li><a href="/appendix/release-notes/">Release Notes</a></li>
<li><a href="/appendix/glossary/">Glossary</a></li>
<li><a href="/tutorials/">Tutorials</a></li>
</UL>

<form>
<input type="button" span class="button-48" value="Click to go back..." onclick="history.back()">
</form>...or go to <a href="/">the docs overview</a>.</p>
</div>

</main>
{{ end }}
