{{ define "main"}}

<main id="main">
    <br />
    <h1 id="title">404 | These are not the droids you're looking for</h1>

    <br />

    <h2>But maybe these could be helpful?</h2>

    <div class="card-container">
        <div class="row">
            <div class="col hover-card">
                <a href="/viam/"
                    ><div class="hover-card-img">
                        <img
                            src="/img/understand.png"
                            alt="A diagram of robotic parts and software"
                            width="100%"
                            loading="lazy"
                        />
                    </div>
                    <div class="small-hover-card-div">
                        <h4>Viam in 3 minutes</h4>
                        <p>
                            Learn everything you need to know to get started
                            with the Viam platform.
                        </p>
                    </div></a
                >
            </div>
            <div class="col hover-card">
                <a href="/try-viam/"
                    >{{ partial "gif.html" (dict "webm_src" "/img/rover.webm" "mp4_src" "/img/rover.mp4" "alt" "A Viam Rover moving about" "maxWidth" "100%" "class" "lozad" ) }}
                    <div class="small-hover-card-div">
                        <h4>Drive a Viam Rover</h4>
                        <p>
                            Drive a Viam rover from the comfort of your home
                            right now or follow along with some example robot
                            tutorials.
                        </p>
                    </div></a
                >
            </div>
            <div class="col hover-card">
                <a href="/installation/"
                    ><div class="hover-card-img">
                        {{ $img := resources.GetMatch "installation/thumbnails/install.png" }}
                        {{if $img }}
                            {{ partial "imgproc.html" (dict "src" "installation/thumbnails/install.png" "resize" "400x" "alt" "Install viam" "style" "") }}
                        {{ else }}
                            {{ warnf "Image not found - is it in the assets folder? %s" .Params.image }}
                        {{end}}
                    </div>
                    <div class="small-hover-card-div">
                        <h4>Install <code>viam-server</code></h4>
                        <p>
                            Learn everything you need to know to get started
                            with the Viam platform.
                        </p>
                    </div></a
                >
            </div>
            <div class="col hover-card">
                <a href="/manage/configuration/"
                    ><div class="hover-card-img">
                        {{ $img := resources.GetMatch "installation/thumbnails/manage.png" }}
                        {{if $img }}
                            {{ partial "imgproc.html" (dict "src" "installation/thumbnails/manage.png" "resize" "400x" "alt" "Configure viam" "style" "") }}
                        {{ else }}
                            {{ warnf "Image not found - is it in the assets folder? %s" .Params.image }}
                        {{end}}
                    </div>
                    <div class="small-hover-card-div">
                        <h4>Configure a Robot</h4>
                        <p>
                            Before you can program a robot, you must configure
                            its components and services as well as any modules,
                            remotes, processes and frames.
                        </p>
                    </div></a
                >
            </div>
            <div class="col hover-card">
                <a href="/program/"
                    ><div class="hover-card-img">
                        <img
                            src="/img/code.png"
                            alt="Program a robot"
                            width="100%"
                            loading="lazy"
                        />
                    </div>
                    <div class="small-hover-card-div">
                        <h4>Program your Robots</h4>
                        <p>
                            Use the SDK of your preferred language to write code
                            to control your robots.
                        </p>
                    </div></a
                >
            </div>
        </div>
    </div>
    <br />
    <h2>Or these?</h2>
    <div class="card-container">
        <div class="row">
            <div class="col hover-card">
                <a href="/tutorials/get-started/servo-mousemover/">
                    {{ partial "gif.html" (dict "webm_src" "/tutorials/img/single-component-tutorials-servo-mousemover/pi-hole.webm" "mp4_src" "/tutorials/img/single-component-tutorials-servo-mousemover/pi-hole.mp4" "alt" "A mouse mover controlled with a servo and Raspberry Pi." "maxWidth" "100%" "class" "lozad" ) }}
                    <div class="small-hover-card-div">
                        <h4>Create a Mouse Mover</h4>
                        <p>
                            Use the Python SDK to move a continuous servo to
                            keep a computer screen from sleeping.
                        </p>
                    </div></a
                >
            </div>

            <div class="col hover-card">
                <a href="/tutorials/services/plan-motion-with-arm-gripper/">
                    {{ partial "gif.html" (dict "webm_src" "/tutorials/videos/motion_armmoving.webm" "mp4_src" "/tutorials/videos/motion_armmoving.mp4" "alt" "An arm moving with the Motion Service" "maxWidth" "100%" "class" "lozad" ) }}
                    <div class="small-hover-card-div">
                        <h4>Plan Motion with an Arm</h4>
                        <p>
                            Use the Motion Service to move robot arms and other
                            components.
                        </p>
                    </div></a
                >
            </div>

            <div class="col hover-card">
                <a href="/tutorials/services/color-detection-scuttle/">
                    {{ partial "gif.html" (dict "webm_src" "/tutorials/videos/scuttle-colordetection-preview.webm" "mp4_src" "/tutorials/videos/scuttle-colordetection-preview.mp4" "alt" "Detecting color with a Scuttle Robot" "maxWidth" "100%" "class" "lozad" ) }}
                    <div class="small-hover-card-div">
                        <h4>Colored Object Follower</h4>
                        <p>
                            Instructions for detecting and following a colored
                            object with a SCUTTLE Robot on Viam software.
                        </p>
                    </div></a
                >
            </div>

            <div class="col hover-card">
                <a href="/tutorials/custom/custom-base-dog/">
                    {{ partial "gif.html" (dict "webm_src" "/tutorials/img/custom-base-dog/base-control-dog.webm" "mp4_src" "/tutorials/img/custom-base-dog/base-control-dog.mp4" "alt" "A quadrupedal robot comprised of small servos, black laser cut acrylic, and with ultrasonic sensors for eyes, walks forward, backward, and turns from side to side on a desk. Next to it is a laptop with the robot's Control tab on the Viam app open in a browser window." "maxWidth" "100%" "class" "lozad" ) }}
                    <div class="small-hover-card-div">
                        <h4>Custom Quadruped Base</h4>
                        <p>
                            Integrate a custom base component with the Viam
                            Python SDK.
                        </p>
                    </div></a
                >
            </div>

            <div class="col hover-card">
                <a href="/tutorials/projects/make-a-plant-watering-robot/"
                    ><div class="hover-card-img">
                        <img
                            src="/tutorials/img/plant-watering-pi/preview.png"
                            alt="Picture of the plant watering robot"
                            width="100%"
                            loading="lazy"
                        />
                    </div>
                    <div class="small-hover-card-div">
                        <h4>Plant Watering Robot</h4>
                        <p>
                            Create a plant watering robot with a Raspberry Pi.
                        </p>
                    </div></a
                >
            </div>
        </div>
    </div>

    <br />
    <h2>
        If none of these links are useful, go to
        <a href="/">the docs overview</a>.
    </h2>
</main>

{{ end }}
