---
title = "Viam Robotics"
linkTitle = "Viam Robotics"

---

{{< blocks/cover title="Welcome to Viam Robotics Documentation!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/viamrobotics/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Making robotics accessible!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Robotics has the potential to do so much good, but progress has been slowed by complicated hardware and software integrations, long development cycles, and people's fear of tripping over a robot on their way to work.

At Viam, we are addressing these issues by building a novel robotics platform that relies on standardized building blocks rather than custom code to create, configure and control robots intuitively and quickly. We’re empowering engineers - aspiring and experienced - across industries to solve complicated automation problems with our innovative software tools.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Viam Beta Launch Date!" %}}
20 September 2022

Watch this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/viamrobotics/" %}}
We do a [Pull Request](https://github.com/viamrobotics/) contributions workflow on **GitHub**. New users are always welcome!<br>
**Both links point to the repo until we decide what to do.**
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/viamrobotics" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}



