<div id="searchbox"></div>
<p>
<div id="searchstats"></div></p>
<div class="searchhitsbox" id="modresources">
  <span>
  <div class="modellistheader">
    <div class="type">API</div>
    <div class="name">Model</div>
    <div>Description</div>
  </div>
  <div id="hits" class="modellist"></div>
  </span>
  <div id="pagination"></div>
</div>
<noscript>
    <div class="alert alert-caution" role="alert">
        <h4 class="alert-heading">Javascript</h4>
        <p>Please enable javascript to see and search models.</p>
    </div>
</noscript>