{{ $size := (.Get "size") }}
{{ $customTitle := (.Get "custom") }}
{{ $link := (path.Clean (.Get "link")) }}
{{ $baseurl := .Site.BaseURL }}
{{ if (eq (substr .Site.BaseURL -1 1) "/" ) }}
  {{ $baseurl := (substr .Site.BaseURL 0 -1) }}
{{ end }}
<div class="col hover-card {{ if eq $size "small" }}hover-card-small{{ end }}{{ if eq $size "xs" }}hover-card-xs{{ end }}">
  {{ if site.GetPage ((relURL $link) | string) }}
    {{ with site.GetPage ((relURL $link) | string) }}
      <a href="{{.RelPermalink}}">
        {{ if .Params.webmSrc }}
          <video autoplay loop muted playsinline preload="auto" alt="{{ .Params.videoAlt }}" width="100%">
            <source src="{{relURL (substr .Params.webmSrc 1) }}" type="video/webm">
            <source src="{{relURL (substr .Params.mp4Src 1) }}" type="video/mp4">
            There should have been a video here but your browser does not seem
            to support it.
          </video>
        {{ end }}
        {{ if .Params.image }}
          <div class="hover-card-img">
            <img src="{{relURL (substr .Params.image 1)}}" loading="lazy" alt="{{ .Params.imageAlt }}" width="100%" />
          </div>
        {{ end }}
        {{ if .Params.icon }}
        <div class="hover-card-icon">
          <img src="{{relURL (substr .Params.icon 1)}}" loading="lazy" alt="{{ .Params.linkTitle }}" width="100%" />
        </div>
        {{ end }}
        <div {{ if .Params.image }}class="small-hover-card-div"{{ end }}{{ if .Params.webmSrc }}class="small-hover-card-div"{{ end }}>
          {{ if $customTitle }}
            <h4>{{ $customTitle }}</h4>
          {{ else }}
            <h4>{{ .LinkTitle }}</h4>
          {{ end }}
          {{ if ne $size "xs" }}
          <p> {{ .Description }} </p>
          {{ end }}
        </div>
      </a>
      {{ end }}
  {{ else }}
  <a href="{{ (relURL $link) }}">This is a bug. Card has a bad link.</a>
  {{ end }}
</div>
