{{ $color := .Get "color" }}
{{ $title := .Get "title" }}
{{ $date := .Get "date" }}
{{ $anchor := anchorize $title }}
<div class="filterable changelog-{{ $color }}">
  <div class="changelog changelog-outer">
    <div class="box-fit">
      <div>
        <span class="colorbox">{{ $color }}</span>
      </div>
      <div>
        <h3 id="{{ $anchor }}">
          {{ $title }}
          <div class="copied" id="copied-{{ $anchor }}" aria-hidden="true">
           <div class="copied-notification" id="copied-{{ $anchor }}-text">
           </div>
          </div>
        </h3>
      </div>
    </div>
      <div class="date-fit">
      <span class="datebox">{{ $date | time.Format "Jan 2006" }}</span>
      </div>
  </div>
{{ if eq $.Page.File.Ext "md" }}
  {{ $.Inner | markdownify }}
{{ else }}
  {{ $.Inner | htmlUnescape | safeHTML }}
{{ end }}
</div>