<details closed class="expand">
  <summary class="expand-label" style="cursor: pointer;">
    <span>
      {{- if .IsNamedParams -}}
      {{.Get "default" | default "Click to expand"}}
    {{- else -}}
      {{.Get 0 | default "Click to expand"}}
    {{- end -}}
    </span>
  </summary>
  <div class="expand-content">
    {{- if (findRE "(gif|mp4)_src" .Inner) -}}
    <div class="media-wrapper">
      {{.Inner | safeHTML}}
    </div>
    {{- else -}}
    {{.Inner | markdownify}}
    {{- end -}}
  </div>
</details>
