{{if os.FileExists (.Get "webm_src")}}
  {{ $f := os.Stat (.Get "webm_src") }}
  {{ $sizeInBytes := div $f.Size 1000 }}
  {{ if gt $sizeInBytes 1000 }}
    {{ warnf "Size of video file %s was %d kB - please reduce file size" $f.Name $sizeInBytes  }}
  {{ end }}
{{ else }}
  {{warnf "Please use absolute file path: %s" (.Get "webm_src")}}
{{end}}
{{if os.FileExists (.Get "mp4_src")}}
  {{ $f := os.Stat (.Get "mp4_src") }}
  {{ $sizeInBytes := div $f.Size 1000 }}
  {{ if gt $sizeInBytes 1000 }}
    {{ warnf "Size of video file %s was %d kB - please reduce file size" $f.Name $sizeInBytes  }}
  {{ end }}
{{end}}
<div>
  <video autoplay loop muted playsinline alt="{{ .Get "alt" }}" width="100%" style="max-width: {{ .Get "max-width" }}" class="{{- if .Get "class" -}}{{ .Get "class"}}{{- end }} lozad">
  <source data-src="{{ .Get "webm_src" }}" type="video/webm">
  <source data-src="{{ .Get "mp4_src" }}" type="video/mp4">
  There should have been a video here but your browser does not seem
  to support it.
</video>
</div>