{{- $baseurl := .Site.BaseURL -}}
{{- $id := .Get "term_id" -}}
{{- $text := .Get "text" -}}
{{- partial "glossary-terms.html" $.Page -}}
{{- $glossary_items := $.Page.Scratch.Get "glossary_items" -}}
{{- if not $glossary_items -}}
{{- errorf "No glossary items found" -}}
{{- else -}}
{{- $term_info := $glossary_items.GetMatch (printf "%s.md" $id ) -}}
{{- if not $term_info -}}
{{- errorf "%q: %q is not a valid glossary term_id, see ./docs/appendix/glossary/* for a full list" .Page.Path $id -}}
{{- end }}
{{- with $term_info -}}
{{- $text := $text | default $term_info.Title -}}
{{- $glossary_home := "/appendix/glossary/" | relLangURL -}}
{{- $external_link := $term_info.Params.full_link | default (printf "%s#term-%s" $glossary_home $id | safeURL  ) -}}
{{- $tooltip :=  $term_info.Params.short_description | markdownify -}}

{{- $tooltip := $tooltip | replaceRE "(?s)<a class='glossary-tooltip'.*?>(.*?).*</a>" "$1" | plainify -}}
{{- $tooltip := trim $tooltip " \n" -}}
<span class='glossary-tooltip' title='{{- $tooltip | safeHTML -}}' data-toggle='tooltip' data-placement='top' aria-label='{{ $text }}'>
    {{- $text -}}
</span>
{{- end -}}
{{- end -}}