{{ $size := (.Get "size") }}
<div class="col hover-card">
  {{ if .Get "link" }}<a href="{{ .Get "link" }}" {{ if .Get "target" }} target="{{ .Get "target" }}"{{ end }} class="noanchor">{{ end }}
        {{ if .Get "img" }}
        <div class="hover-card-img">
          {{ $img := resources.GetMatch (.Get "img") }}
          {{if $img }}
            {{ partial "imgproc.html" (dict "src" (.Get "img") "resize" "400x" "alt" (.Params.imageAlt) "style" "") }}
          {{ else }}
            {{ errorf "Couldn't get image %s" (.Get "img") }}
          {{ end }}
        </div>
        {{ end }}
        <div {{ if .Get "img" }}class="small-hover-card-div"{{ end }}>
        {{ with $.Inner }}
          {{ if eq $.Page.File.Ext "md" }}
            {{ $.Inner | markdownify }}
          {{ else }}
            {{ $.Inner | htmlUnescape | safeHTML }}
          {{ end }}
        {{ end }}
      </div>
      {{ if .Get "link" }}</a>{{ end }}
</div>
