<div id="searchboxML"></div>
<p>
<div id="searchstatsML"></div></p>
<div class="searchhitsbox" id="mlmodels">
  <span>
  <div class="modellistheader">
    <div class="name">Model</div>
    <div class="type">Type</div>
    <div class="framework">Framework</div>
    <div>Description</div>
  </div>
  <div id="hitsML" class="modellist"></div>
  </span>
<div id="paginationML"></div>
</div>
<noscript>
    <div class="alert alert-caution" role="alert">
        <h4 class="alert-heading">Javascript</h4>
        <p>Please enable javascript to see and search ML models.</p>
    </div>
</noscript>