<p>Search for additional {{.Get "type" }} models that you can <a href="/platform/registry/configure/#add-a-modular-resource-from-the-viam-registry">add from the Viam Registry</a>:
<div id="searchbox"></div>
<p>
<p>For configuration information, click on the model name:</p>
<div id="searchstats"></div></p>
<div class="mr-component" id="{{ .Get "api" }}">
  <div class="modellistheader">
  <div class="name">Model</div>
  <div>Description</div>
</div>
<div id="hits" class="modellist">
</div>
<div id="pagination"></div>
</div>
