<p>Search for additional {{.Get "type" }} models that you can add from the Viam Registry:
<div id="searchbox"></div>
<p>
<p>For configuration information, click on the model name:</p>
<div id="searchstats"></div></p>
<div class="searchhitsbox mr-component" id="{{ .Get "api" }}">
  <span>
    <div class="modellistheader">
      <div class="name">Model</div>
      <div>Description</div>
    </div>
    <div id="hits" class="modellist"></div>
  </span>
  <div id="pagination"></div>
</div>
<noscript>
  <div class="alert alert-caution" role="alert">
      <h4 class="alert-heading">Javascript</h4>
      <p>Please enable javascript to see and search models.</p>
  </div>
</noscript>