{{ $link := (path.Clean (.Get "link")) }}
{{ $linkWithSlash := printf "%s/" $link }}
{{ $required := .Get "required" }}
{{ $alt_title := .Get "alt_title" }}
{{ $alt_link := .Get "alt_link" }}

{{ if site.GetPage ($link | string) }}
  {{ with site.GetPage ($link | string) }}
    <div class="relatedcard">
      <a href="{{ with $alt_link }}{{ $alt_link }}{{ else }}{{ $linkWithSlash }}{{ end }}" target="_blank" title="{{ with $alt_title }}{{ $alt_title }}{{ else }}{{ .LinkTitle }}{{ end }}">
        <div>
          <div>
            {{ if .Params.icon }}
              {{ partial "imgproc.html" (dict "src" (.Params.icon) "resize" "10x10" "alt" (.Params.linkTitle) "declaredimensions" "true" "style" "") }}
            {{ end }}
          </div>
          <p>
            {{ if eq $required "yes" }}
              {{ with $alt_title }}{{ $alt_title }}{{ else }}{{ .LinkTitle }}{{ end }}*
            {{ else }}
              {{ with $alt_title }}{{ $alt_title }}{{ else }}{{ .LinkTitle }}{{ end }}
            {{ end }}
          </p>
        </div>
      </a>
    </div>
  {{ end }}
{{ end }}
