<p>To use your {{.Get "type" }} service, check whether one of the following models supports it.
</p>
<p>For configuration information, click on the model name:
</p>
<div id="searchbox"></div>
<div id="searchstats"></div></p>
<div class="mr-component" id="{{ .Get "api" }}">
  <div class="modellistheader">
  <div class="name">Model</div>
  <div>Description</div>
</div>
<div id="hits" class="modellist">
</div>
<div id="pagination"></div>
</div>
<noscript>
  <div class="alert alert-caution" role="alert">
      <h4 class="alert-heading">Javascript</h4>
      <p>Please enable javascript to see and search models.</p>
  </div>
</noscript>