{{- if .Get "no-intro" -}}
{{- else -}}
<p>To use your {{.Get "type" }} component, check whether one of the following models supports it.
</p>
<p>For configuration information, click on the model name:
</p>
{{- end -}}
{{ $uniqueId := printf "%s-%s" (.Get "api") (.Get "type") | urlize }}
<div class="search-container" data-unique-id="{{$uniqueId}}">
  <div id="searchbox-{{$uniqueId}}" class="searchbox"></div><br>
  <div id="searchstats-{{$uniqueId}}" class="searchstats"></div></p>
  <div class="searchhitsbox mr-component" id="{{ .Get "api" }}">
    <span>
      <div class="modellistheader">
        <div class="name">Model</div>
        <div>Description</div>
      </div>
      <div id="hits-{{$uniqueId}}" class="hits modellist"></div>
    </span>
    <div id="pagination-{{$uniqueId}}" class="pagination"></div>
  </div>
</div>
<noscript>
  <div class="alert alert-caution" role="alert">
      <h4 class="alert-heading">Javascript</h4>
      <p>Please enable javascript to see and search models.</p>
  </div>
</noscript>