{{ $p := .Site.GetPage (.Get "sectiontitle") }}
<ul class="sectionlist">
  {{ range (where .Site.Pages "Section" (.Get "sectiontitle")) }}
  {{ range .Pages }}
    {{ if and (eq $p .Parent) (not .Draft) }}
      <li>
        <a href="{{ .Permalink }}" title="{{.Title}}">
          <div>
            {{if .Params.icon}}<img src="{{relURL (substr .Params.icon 1)}}" alt="{{ .Params.linkTitle }}" loading="lazy" width="45" height="45">{{end}}
            <p>{{ .LinkTitle }}</p>
          </div>
        </a>
    </li>
      {{ end }}
    {{ end }}
{{ end }}
</ul>
