{{ $p := .Site.GetPage (.Get "sectiontitle") }}
<ul class="sectionlist">
  {{ range (where .Site.Pages "Section" (.Get "sectiontitle")) }}
  {{ range .Pages }}
    {{ if and (eq $p .Parent) (not .Draft) }}
      <a href="{{ .Permalink }}" title="{{.Title}}"><li>
        {{if .Params.icon}}<img src="{{relURL (substr .Params.icon 1)}}" alt="{{ .Params.linkTitle }}" loading="lazy" width="50" height="50">{{end}}
        <p>{{ .LinkTitle }}</p>
      </li></a>
      {{ end }}
    {{ end }}
{{ end }}
</ul>
