<div id="searchboxScripts"></div>
<p>
<div id="searchstatsScripts"></div></p>
<div class="searchhitsbox" id="training-scripts">
  <span>
    <div class="modellistheader">
    <div class="name">Script</div>
    <div>Description</div>
    </div>
    <div id="hitsScripts" class="modellist"></div>
  </span>
  <div id="paginationScripts"></div>
</div>
<noscript>
    <div class="alert alert-caution" role="alert">
        <h4 class="alert-heading">Javascript</h4>
        <p>Please enable javascript to see and search ML custom training scripts.</p>
    </div>
</noscript>