<script src="https://cdn.jsdelivr.net/npm/typesense-docsearch.js@1/dist/cdn/docsearch.min.js"></script>

<script>
  docsearch({
    inputSelector: '.navbar-nav .td-search-input',
    typesenseCollectionName: 'docsearch',
    typesenseServerConfig: {
      nodes: [{
        host: 'cgnvrk0xwyj9576lp-1.a1.typesense.net',
        port: '443',
        protocol: 'https'
      }],
      apiKey: 'GHQK6od8KfpvTEh4YpA113gUc2dU5fGR'
    },
  });
  docsearch({
    inputSelector: '.td-sidebar__search .td-search-input',
    typesenseCollectionName: 'docsearch',
    typesenseServerConfig: {
      nodes: [{
        host: 'cgnvrk0xwyj9576lp-1.a1.typesense.net',
        port: '443',
        protocol: 'https'
      }],
      apiKey: 'GHQK6od8KfpvTEh4YpA113gUc2dU5fGR'
    },
  });
</script>

<script src='{{ "js/prism-viam.js" | relURL }}'></script>
