name: Check Python SDK method coverage

on:
  workflow_dispatch:
  pull_request:

jobs:
  python-methods:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true # Fetch Hugo themes
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
      - name: Set up Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: "pip" # caching pip dependencies
      - run: pip install beautifulsoup4 markdownify argparse

      - name: Build
        run: make coveragetest
