name: generate-doc-site-for-pr

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
            submodules: true  # fetch hugo themes
            fetch-depth: 0

      - name: Setup npm dependencies
        run: npm install postcss-cli

# next two steps came from hugo docs https://gohugo.io/hosting-and-deployment/hosting-on-github/
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2 
        with:
          hugo-version: 'latest'
          extended: true
          
      - name: Set baseURL for Config
        run: echo 'baseURL="https://docs-test.viam.dev/${{ github.sha }}/public/"' >> .github/etc/config.toml

      - name: Build
        run: hugo --minify --config .github/etc/config.toml

      - name: Authenticate on GCS
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - name: Copy generated site to GCS bucket
        uses: 'google-github-actions/upload-cloud-storage@v0'
        with:
          path: 'public'

          destination: 'docs-test.viam.dev/${{ github.sha }}'

      - name: Comment on PR with link to rendered site
        uses: peter-evans/create-or-update-comment@v2.0.0
        with:
          token: ${{ secrets.DANNENBERS_PTA_FOR_COMMENTING }}
          issue-number: ${{ github.event.pull_request.number }}
          body: 'You can view a rendered version of the docs from this PR at https://docs-test.viam.dev/${{ github.sha }}/public'
