# .github/workflows/run-htmltest.yml
# (c) 2021 Robb Romans
#
# Run htmltest link checker on generated HTML output in dist/
# https://github.com/wjdp/htmltest
#
name: run-htmltest
concurrency:
  group: pullrequest-untrusted-htmltest-${{ github.event.number }}
  cancel-in-progress: true
on: pull_request
jobs:
  htmltest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true # Fetch Hugo themes
          fetch-depth: 1 # Fetch all history for .GitInfo and .Lastmod
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.17.0'
      - name: Set up Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.152.2"
          extended: true

      - name: Get Date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
        shell: bash

      - uses: actions/cache@v4
        with:
          path: resources
          key: ${{ steps.get-date.outputs.date }}-hugo-resources-htmltest

      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ steps.get-date.outputs.date }}-hugo-node_modules

      - name: Build
        run: make build-dist-pr

      - name: Test HTML for local pages
        # https://github.com/wjdp/htmltest-action/
        # Don't fail the build on broken links
        continue-on-error: false
        uses: wjdp/htmltest-action@master
        with:
          # For consistency, use the same config file as for local builds
          config: .htmltest-local.yml
      - name: Archive htmltest results
        uses: actions/upload-artifact@v4
        # Note: Set ACTIONS_RUNTIME_TOKEN env variable to test with nektos/act
        with:
          name: htmltest-report
          path: tmp/.htmltest/htmltest.log
          retention-days: 7 # Default is 90 days
